/* global : reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* global : variables */
:root {
    
    /* color */
    --main: #000;
    --alt: #FFF;
    --clr-main: #042331;
    /* font */
    --font-main: 'Josefin Sans', sans-serif;
    --font-alt:  'Dosis', sans-serif;

    /* font size */
    --sz-title: 2.8rem;
    --sz-icon: 2rem;
    --sz-panel: 1.6rem;
    --sz-tag: 1.5rem;
    --sz-txt: 1.2rem;

    /* spacing */
    --sm: 5%;
    --md: 10%;
    --lg: 15%;

    /* spacing vertical */
    --v-sm: 20%;
    --v-lg: 35%;
    
    /* styles */
    --bk-comp:  rgb(24,46,158);
    --bk-artc:  rgba(255,255,255,0.3);
    --bk-trans: rgba(0,0,0,0.5);
    
    /* === dev borders === */
    --wireframe: 3px solid darkblue;
    --component: 3px dotted darkgreen;
    --debugging: 3px dotted darkred;

}

/* global : css */
html, body {
    font-family: var(--font-main);
    scroll-behavior: smooth;
    overflow: hidden;
}
main {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(25px, auto);

    height: 100vh;

    transition: 0.5s all;
    background: var(--bk-trans);
}
article {
    grid-column: span 6;
    grid-row: span 1;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(25px, auto);
    gap: 20px;

    margin: var(--sm);
}
.elmnts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    border-radius: 20px;
}
video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    min-height: 100%;
    min-width: 100%;
}

/* preset : sizes */
.title {font-size: var(--sz-title);}
.tag {font-size: var(--sz-tag);}
.text {font-size: var(--sz-txt);}
.title__panel {font-size: var(--sz-panel);}


/* =============================== 

        current module in progress

=============================== */